<!DOCTYPE html>
<html>

    <head>
        <title>G90</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/app.css">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHy2l3K0UCngroR59ogIe6dYUgcpo_uuc&libraries=places&callback=initMap"></script> -->
        <!-- <link rel="icon" href="data:,">
        <base href="/"> -->
    </head>

    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <!-- <div class="header item"> -->
                    <img src="/g90.png" alt="g90 logo" width="62" height="43">
                <!-- </div> -->
                <a href="/" class="item">Home</a>
                <a href="/new" class="item">Add Student</a>
                <a href="/find" class="item">Find Student</a>
                <a href="/about" class="item">About</a>
            </div>
        </div>
        