<% include ./partials/header %>

<h1>About this app</h1>
<p>This is an full stack app written in express, ejx and knex on a PostgreSQL database.</p>
<p>Knex migrations and seeds are used to prepare the database.</p>
<p>It is published at http://...</p>
<p>The server also has an API with the following points.</p>
<p>/api - Query all.</p>
<p>/api/id/:id - Query by ID.</p>
<p>/api/lname/:lname - Query by last name</p>
<p>/api/fname/:fname - Query by first name</p>
<br><br>
<% include ./partials/footer %>
