
<% include ./partials/header %>
<br><br>
<h1>About this app</h1>
<div class = "flex-container">
    
    <aside class="flex-item">
        <br>
        <p>This is a full stack app written in Express, EJS and Knex.js on a PostgreSQL database.</p>
        <p>Knex migrations and seeds were used to prepare the database.</p>
        <p>It is published at https://g90.herokuapp.com/.</p>
        <p>The server also has an API with the following points.</p>
        <p>/api - Query all.</p>
        <p>/api/id/:id - Query by ID.</p>
        <p>/api/lname/:lname - Query by last name</p>
        <p>/api/fname/:fname - Query by first name</p>
        <p>/api/reset - Reset API data</p>
        <br>
        <p>The data can be reset back to its original state with an API reset or by clicking the link below.</p>
        <a href="/api/reset">Reset Data</a>
    </aside>

    <% include ./partials/student %>

</div>
<br><br>
<% include ./partials/footer %>

