
<% include ./partials/header %>
<br><br>
<h1>The Class of </h1>

<a href="/all">
    <img src="/g90.png" alt="g90 logo" width="250">
</a>

<div class="container">
    <div class="flex-container row">

        <% if (student.length>0) { student.forEach(student => { %>

            <% include ./partials/student %>

        <% })}  %>

    </div>
</div>


<% include ./partials/footer %>