
<% include ./partials/header %>
<br><br>
<h1>Find Student</h1>

<form class="findform" action="/find" method="POST">
    <input type="radio" name="radio_find" id="radio_byID" value="id" checked="checked">
    <label class="input" for="radio_byID">Find by ID</label><br>

    <input type="radio" name="radio_find" id="radio_byLastName" value="last_name">
    <label class="input" for="radio_byLastName">Find by Last Name</label><br>

    <input type="radio" name="radio_find" id="radio_byFirstName" value="first_name">
    <label class="input" for="radio_byFirstName">Find by First Name</label><br>
    <br>
    <label for="findValue">Search Value: </label>    
    <input class="input" type="text" name="findValue" id="findValue" required><br>
    <br>
    <input class="input" type="submit" value="Submit">
</form>

<% include ./partials/footer %>