<% include ./partials/header %>

<h1>The Class of g90</h1>
<% student.forEach(student => { %>
    <div class = 'ui four cards'>
        <% include ./partials/student %>
    </div>
<% }) %>

<% include ./partials/footer %>