<% include ./partials/header.ejs %>

<form action="" method="post">
    <label for="first_name">First Name:</label>
    <input type="text" name="first_name" id="first_name"><br>
    <label for="last_name">Last Name:</label>
    <input type="text" name="last_name" id="last_name"><br>
    <label for="photo">Photo URL: </label>
    <input type="text" name="photo" id="photo"><br>
    <label for="hometown_lat">Hometown Latitude: </label>
    <input type="text" name="hometown_lat" id="hometown_lat"><br>
    <label for="hometown_long">Hometown Longitude: </label>
    <input type="text" name="hometown_long" id="hometown_long"><br>
    <label for="prev_occupation">Previous Occupation: </label>
    <input type="text" name="prev_occupation" id="prev_occupation"><br>
    <input type="submit" value="submit">
</form>

<% include ./partials/footer.ejs %>
