
<% include ./partials/header %>
<br><br>
<h1>Add Student</h1>
<form class="postform" action="/students" method="POST">
    <br><br>
    <label class="input" for="first_name">First Name:</label>
    <input class="input" type="text" name="student[first_name]" id="first_name" required>
    
    <br><br>
    <label class="input" for="last_name">Last Name:</label>
    <input class="input" type="text" name="student[last_name]" id="last_name" required>

    <br><br>
    <label class="input" for="linkedin">LinkedIn Profile Address:</label>
    <input class="input" type="text" name="student[linked_in]" id="linked_in" required>
    
    <br><br>
    <label class="input" for="github">GitHub Profile Address:</label>
    <input class="input" type="text" name="student[facebook]" id="github" required>

    <br><br>
    <label class="input" for="phone">Phone Number:</label>
    <input class="input" type="text" name="student[phone]" id="phone" required>

    <br><br>
    <label class="input" for="email">Email Address:</label>
    <input class="input" type="text" name="student[email]" id="email" required>
    
    <br><br>
    <label class="input" for="image">Photograph URL:</label>
    <input class="input" type="text" name="student[image]" id="image" required>
  
    

    
    <br><br>
    <label class="input" for="prev_occupation">Previous Occupation:</label>
    <input class="input" type="text" name="student[prev_occupation]" id="prev_occupation" required>
    
    <br><br>
    <label class="input" for="hometown_lat">Hometown Latitude:</label>
    <input class="input" type="text" name="student[hometown_lat]" id="hometown_lat" required>
    
    <br><br>
    <label class="input" for="hometown_long">Hometown Longitude:</label>
    <input class="input" type="text" name="student[hometown_long]" id="hometown_long" required>

  
    <br><br>
    <label class="input" for="photo">Animal URL:</label>
    <input class="input" type="text" name="student[photo]" id="photo" required>
  
    <input class="input" type="submit">
</form>

<% include ./partials/footer %>
