
<% include ./partials/header %>
<br><br>
<div class="flex-container">
    <% if (student.length>0) { student.forEach(student => { %>

                <% include ./partials/student %>

    <% })} else { %>
        <br><br><br>
        <p>We're sorry, there is no matching data.</p>
    <%  } %>
</div>

<% include ./partials/footer %>
