body {
    padding: 20px;
    background-color: lightgray;
    /* background-image: url("/back2.jpg"); */
}

footer {
    color: white;
    background-color: black;
    padding: 5px;
    margin-top: 10px;
}

.input {
    /* margin: 10px; */
    padding: 10px;
    width: 100%;
    margin-top: 5px;
}

.findform, .postform, .editform {
    width: 300px;
    border: 1px solid black;
    margin: 10px;
    box-shadow: 5px 5px 5px #888888 !important;
    padding: 5px;
}

column {
    width: 400px;
}

.mycard{
    padding: 10px !important;
    box-shadow: 5px 5px 5px #888888 !important;
    background-color: #EA943E;
    margin: 3px !important;
}


.mycard img{
    padding: 10px !important;
    box-shadow: 5px 5px 5px #888888 !important;
}

aside {
    margin-left: 20px;
    box-shadow: 5px 5px 5px #888888 !important;
    padding: 10px;
    background-color: white;
}

.flexcontainer{
    display: flex;
    flex-wrap: wrap;
}

.flexitem{

}
/* .header img {
    width: 50px;
} */