body {
    padding: 20px;
    background-color: lightgray;
}

footer {
    color: white;
    background-color: black;
    padding: 5px;
    margin-top: 10px;
}

.input {
    margin: 10px;
    padding: 10px;
}


form {
    width: 300px;
}
column {
    width: 300px;
}

.mycard{
    padding: 10px !important;
    box-shadow: 5px 5px 5px #888888 !important;
}

.mycard img{
    padding: 10px !important;
    box-shadow: 5px 5px 5px #888888 !important;
}

.header img {
    width: 50px;
}