body {
    padding: 20px;
    background-color: lightgray;

}

footer {
    color: white;
    background-color: black;
    padding: 5px;
    margin-top: 20px;
}

h1 {
    text-shadow: 1px 2px 2px #888888;
}

.studentinfo{
    border: rgb(121, 121, 121) solid 1px;
    box-shadow: 5px 5px 5px #888888 !important;
    margin-top: 10px;
    padding: 5px;
}

.findform, .postform, .editform {
    width: 300px;
    border: 1px solid black;
    margin: 10px !important;
    box-shadow: 5px 5px 5px #888888 !important;
    padding: 5px;
}

.mycard{
    padding: 10px !important;
    box-shadow: 5px 5px 5px #888888 !important;
    margin: 10px !important;
    width: 300px;
}


.mycard img{
    padding: 10px !important;
    box-shadow: 5px 5px 5px #888888 !important;
}

aside {
    box-shadow: 5px 5px 5px #888888 !important;
    padding: 10px;
    background-color: white;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.flex-item{
    padding: 10px !important;
    box-shadow: 5px 5px 5px #888888 !important;
    margin: 10px !important;
    width: 300px;
}

.index-item{
    background-color: #EA943E;
}

.input {
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    display: inline;
}

.image {
    border-radius: 100%;
}

.buttonshadow, iframe {
    box-shadow: 5px 5px 5px #888888 !important;
}